<launch>
  <node pkg="urg_node" type="urg_node" name="urg_node" output="screen">
    <param name="_ip_address" value="192.168.0.10" />
    <param name="_skip" value="1000" />
    <param name="_time_offset" value="1.0" />

  </node>

  <node pkg="robot_karmeluk" type="tf_laser-frame.py" name="tf" output="screen">
  </node>

</launch>
